.App {
    background: #ebedf0;
}

.col {
    margin-right: 10px;
}

.listItem {
    border: 1px solid #4444;
    background: #f4f5f9;
    margin-bottom: 10px;
    border-left: 3px solid #1ca1c1;
    padding: 10px 0px;
}

.listItem-top {
    margin-bottom: 10px;
    padding: 0px 10px;
}

.listItem-bottom .tag {
    background: rgba(228, 230, 240, 0.8);
    padding: 0 8px;
    border-radius: 12px;
    margin: 0 8px 2px 0;
}

.imageUser {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.LabelItem {
    margin-right: 20px;
}
/* 
.viewFiles {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #475466;
    letter-spacing: 0.2px;
    -webkit-font-smoothing: antialiased;
    cursor: default;
    overflow: hidden;
    border: 0px solid #dadee0;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    background-color: #ffffff;
    white-space: normal;
    -webkit-appearance: none;
    border-width: 0px;
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
    height: 91px;
    position: relative;
    margin-bottom: 25px;
}

.viewFilesItem {
    padding: 0;
    border-color: transparent;
    position: relative;
    cursor: pointer;
    width: 200px;
}

.uploadBody {
    text-align: center;
    line-height: 90px;
    overflow: hidden;
    background-color: #e7e9f2;
    width: 100%;
    height: 100%;
}

.viewFilesIcon {
    color: #94a1b3;
    font-size: 40px;
    width: 30px;
    margin: 0;
}

.viewFilesIcon::before {
    content: "\F004";
}

.uploadBodyTitle {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px 8px;
    font-size: 12px;
    line-height: 2;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

.uploadBodyLabel {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.progress-error {
    color: #fdbf4c;
    float: right;
    margin-left: 5px;
}

.removeUpload {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 0 0 0 2px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 20px;
}

.removeUpload::hover span {
    color: red;
} */
