.App {
    background: #ebedf0;
}

.col {
    margin-right: 10px;
}

.listItem {
    border: 1px solid #4444;
    background: #f4f5f9;
    margin-bottom: 10px;
    border-left: 3px solid #1ca1c1;
    padding: 10px 0px;
}

.listItem-top {
    margin-bottom: 10px;
    padding: 0px 10px;
}

.listItem-bottom .tag {
    background: rgba(228, 230, 240, 0.8);
    padding: 0 8px;
    border-radius: 12px;
    margin: 0 8px 2px 0;
}

.imageUser {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.LabelItem {
    margin-right: 20px;
}
/* 
.viewFiles {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #475466;
    letter-spacing: 0.2px;
    -webkit-font-smoothing: antialiased;
    cursor: default;
    overflow: hidden;
    border: 0px solid #dadee0;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    background-color: #ffffff;
    white-space: normal;
    -webkit-appearance: none;
    border-width: 0px;
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
    height: 91px;
    position: relative;
    margin-bottom: 25px;
}

.viewFilesItem {
    padding: 0;
    border-color: transparent;
    position: relative;
    cursor: pointer;
    width: 200px;
}

.uploadBody {
    text-align: center;
    line-height: 90px;
    overflow: hidden;
    background-color: #e7e9f2;
    width: 100%;
    height: 100%;
}

.viewFilesIcon {
    color: #94a1b3;
    font-size: 40px;
    width: 30px;
    margin: 0;
}

.viewFilesIcon::before {
    content: "\F004";
}

.uploadBodyTitle {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px 8px;
    font-size: 12px;
    line-height: 2;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

.uploadBodyLabel {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.progress-error {
    color: #fdbf4c;
    float: right;
    margin-left: 5px;
}

.removeUpload {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 0 0 0 2px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 20px;
}

.removeUpload::hover span {
    color: red;
} */
<<<<<<< HEAD
.files-dropzone-list {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    border: 1px dashed #d3d3d3;
    cursor: pointer;
}

.files-dropzone {
    position: absolute;
    right: 15px;
}

.files-buttons {
    border-top: 1px solid #d3d3d3;
    cursor: pointer;
}
.files-button-submit {
    display: inline-block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    width: 50%;
    box-sizing: border-box;
    border-right: 1px solid #d3d3d3;
}
.files-button-submit:before {
    content: "Submit";
}
.files-button-clear {
    display: inline-block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    width: 50%;
    box-sizing: border-box;
}
.files-button-clear:before {
    content: "Clear";
}
.files-list {
    width: 300px;
    margin-bottom: 30px;
}
.files-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.files-list li:last-child {
    border: none;
}
.files-list-item {
    height: 60px;
    padding: 10px 0px 10px 10px;
    /*border-bottom: 1px solid #D3D3D3;*/
}
.files-list-item-content {
    float: left;
    padding-top: 5px;
    padding-left: 10px;
    width: calc(100% - 130px);
}
.files-list-item-content-item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.files-list-item-content-item-1 {
    font-size: 20px;
    line-height: 30px;
}
.files-list-item-content-item-2 {
    font-size: 16px;
    line-height: 20px;
}
.files-list-item-preview {
    height: 60px;
    width: 60px;
    float: left;
}
.files-list-item-preview-image {
    height: 100%;
    width: 100%;
}
.files-list-item-preview-extension {
    text-align: center;
    line-height: 60px;
    color: #fff;
    background-color: #d3d3d3;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
}
.files-list-item-remove {
    height: 60px;
    width: 60px;
    float: right;
    cursor: pointer;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4IiB3aWR0aD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTM4IDEyLjgzbC0yLjgzLTIuODMtMTEuMTcgMTEuMTctMTEuMTctMTEuMTctMi44MyAyLjgzIDExLjE3IDExLjE3LTExLjE3IDExLjE3IDIuODMgMi44MyAxMS4xNy0xMS4xNyAxMS4xNyAxMS4xNyAyLjgzLTIuODMtMTEuMTctMTEuMTd6Ii8+PHBhdGggZD0iTTAgMGg0OHY0OGgtNDh6IiBmaWxsPSJub25lIi8+PC9zdmc+)
        no-repeat center center;
    background-size: 30px 30px;
}
.files-list-item-remove-image {
    height: 30px;
    width: 30px;
    margin-top: 15px;
    margin-right: 10px;
    float: right;
}

.buttonSave {
    position: absolute;
    right: 20px;
}

.positionDrop {
    position: absolute !important;
    right: 5px;
}

/* sdaklsjda */
.listItem {
    background-color: #fff6b2 !important;
}

.selected {
    background-color: #f9c7c8 !important;
    border: solid red 1px !important;
    z-index: 1 !important;
}
=======


.listItem {
	background-color: #fff6b2 !important;
}

.selected {
  background-color: #f9c7c8 !important;
  border: solid red 1px !important;
  z-index: 1 !important;
}
>>>>>>> d6ecf1c51417f8753ef38b69631c3ee9e4fd8b5a
